<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-header></app-header>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--
<p>{{ number }}</p>


<button
(click)="onIncrease()"
class="btn">
Heeh</button>
<hr>
<input type="text" [(ngModel)]="item">
<button
(click)="addItem()"
class="btn"
[ngClass]="{'btn-primary': item !== '', 'btn-secondary': item === ''}">
Add</button>

<p *ngIf="item === ''">Enter a value!</p>
<ul class="list-group">
  <li
  class="list-group-item"
  *ngFor="let item of list; let i = index"
  [ngStyle]="{backgroundColor: i % 2 === 0 ? 'yellow' : 'blue'}">{{ item }}</li>
</ul> -->
